# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
# WARNING this will ignore extensionless executables, but will also ignore makefile, update this when u finally add makefile

*.swp
